<template name="_header">
  
  <nav>
    <div class="nav-wrapper indigo">
      <div class="container">
        <a class="brand-logo" href="{{pathFor 'home'}}">Meteor Boilerplate</a>

        <ul class="right">
          <li><a class="dropdown-button" href="#!" data-activates="user-dropdown"><i class="fa fa-ellipsis-v fa-fw"></i></a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
          <li class="{{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}" title="Home"><i class="fa fa-home fa-fw"></i></a></li>
        </ul>

      </div>
    </div>
  </nav>

  <ul id="nav-mobile" class="side-nav">
    <li class="bold {{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}" title="Home"><i class="mdi-action-home"></i> Home</a></li>
  </ul>

</template>
